@use '../../../../../../../assets/scss/base';
@use '../../../../../../../assets/scss/shared-styles';

.wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: base.$main-font;
    letter-spacing: 2px;
    color: base.$secondary-color;
    padding: 100px 0px;
}

.container
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3
    {
        text-transform: uppercase
    }
}

.button
{
    @include shared-styles.background-gradient;
    padding: 15px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.box
{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div
    {
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}