@use '../../../../../../../assets/scss/base';
@use '../../../../../../../assets/scss/shared-styles';

.wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    
    h3
    {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: base.$main-font;
        color: base.$secondary-color;
    }
}

.box
{
    margin-top: 20px;
    @include shared-styles.forms;

    button
    {
        @include shared-styles.unactive-button;
    }

    .active
    {
        cursor: pointer;
        color: black;
        transition: all ease-in-out 0.2s;
    }

    .active:hover
    {
        background-color: base.$primary-color;
    }
}