<app-loader *ngIf="isLoading"/>
<div class="wrapper">
    <h3>Twoje Zestawy</h3>
    <div class="carousel-wrapper">
        <div class="controls">
            <div class="arrow left" (click)="DecrementPage()" [ngClass]="{'unactive': currentPage <= 0}">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </div>
            <div class="arrow right" (click)="IncrementPage()" [ngClass]="{'unactive': currentPage >= pagesQuantity}">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </div>
        </div>
        <div class="carousel-box">
            <div class="carousel" carousel *ngIf="flashcardsCollection.length > 0">
                <app-collection 
                    *ngFor="let collection of flashcardsCollection"
                    [collectionName]="collection.collectionName"
                    [flashcardsQuantity]="collection.flashcardsQuantity"
                    (alertEvent)="OnChildError($event)"
                />
            </div>
            <div class="alert" *ngIf="flashcardsCollection.length === 0">Brak zestawów</div>
        </div>
    </div>
    <div class="button" (click)="ChangeFormState(true)">Dodaj zestaw</div>
</div>
<app-add-collection *ngIf="formState" (closeForm)="ChangeFormState($event)"/>
<ng-template appPlaceholder></ng-template>
