<ng-template appPlaceholder></ng-template>
<app-loader *ngIf="isLoading"/>
<div class="wrapper">
    <div class="box">
        <app-logo/>
        <div class="form-box">
            <form #form="ngForm" (ngSubmit)="Submit()">
                <div>
                    <label>E-mail</label>
                    <input
                        type="e-mail"
                        placeholder="e-mail"
                        name="email"
                        required
                        email
                        [(ngModel)]="userData.email"
                    >
                </div>
                <div>
                    <label>Nowe hasło</label>
                    <input
                        type="password"
                        placeholder="hasło"
                        name="password"
                        required
                        minlength="5"
                        [(ngModel)]="userData.new_password"
                    >
                </div>
                <div>
                    <label>Powtórz hasło</label>
                    <input
                        type="password"
                        placeholder="powtórz hasło"
                        name="re_password"
                        required
                        minlength="5"
                        [(ngModel)]="userData.re_new_password"
                    >
                </div>
                <button [ngClass]="form.valid === true ? null : 'unactive'" type="submit">Zmień hasło</button>
            </form>
        </div>
    </div>
</div>