body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url('./bg.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background_2 {
    background-image: url('./bg.jpg');
}

#background_2 {
    background-image: url('./keyboard.png');
}

.text {
    height: 50vh;
    background-color: #a1ffff54;
    font-size: 36px;
    padding: 15px;
    overflow: auto; 
}

nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 10px 5px 5px black;
    z-index: 1000;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0d0fbf;
    transition: 0.5s;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #000;
}

footer {
    text-align: center;
}

.other {
    background-color: aqua;
    padding: 15px;
}

.kontakt {
    padding: 15px;
}

.logo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: red;
}

.logo-js {
    background: url("./js.jpg");
    background-size: cover;
    width: 180px;
    height: 180px;
    position: absolute;
    left: 39%;
    margin-top: 10px;
}
    

.logo-html {
    background: url("./html.png");
    background-size: cover;
    width: 180px;
    height: 180px;
    position: absolute;
    margin-top: 10px;
}
